.row
  .col-lg-12
    .ibox.float-e-margins
      .ibox-content
        .row
          .col-lg-12
            .table-responsive
              %table.table.table-striped.table-bordered.table-hover.datatable_estadisticas
                %thead
                  %tr
                    %td Criterio
                    %td Monto Ventas
                    %td Ingresos Canon Fijo
                    %td Ingresos Canon Variable
                    %td Total Ingresos
                    %td Total Ingresos (USD)
                %tbody
                  - @estadisticas.each do |estadistica|
                    %tr
                      %td= estadistica[:criterio]
                      %td{ :class => 'text-right' }
                        = ActionController::Base.helpers.number_to_currency(estadistica[:venta_diaria], separator: ',', delimiter: '.', format: "%n %u", unit: "")
                      %td{ :class => 'text-right' }
                        = ActionController::Base.helpers.number_to_currency(estadistica[:canon_fijo_ml], separator: ',', delimiter: '.', format: "%n %u", unit: "")
                      %td{ :class => 'text-right' }
                        = ActionController::Base.helpers.number_to_currency(estadistica[:porc_canon], separator: ',', delimiter: '.', format: "%n %u", unit: "")
                      %td{ :class => 'text-right' }
                        = ActionController::Base.helpers.number_to_currency(estadistica[:total], separator: ',', delimiter: '.', format: "%n %u", unit: "")
                      %td{ :class => 'text-right' }
                        = ActionController::Base.helpers.number_to_currency(estadistica[:total]/ CambioMoneda.last.cambio_ml_x_usd, separator: ',', delimiter: '.', format: "%n %u", unit: "")
                  %tr
                    %td.text-right TOTAL
                    %td{ :class => 'text-right' }
                      = ActionController::Base.helpers.number_to_currency(@totales[0], separator: ',', delimiter: '.', format: "%n %u", unit: "")
                    %td{ :class => 'text-right' }
                      = ActionController::Base.helpers.number_to_currency(@totales[1], separator: ',', delimiter: '.', format: "%n %u", unit: "")
                    %td{ :class => 'text-right' }
                      = ActionController::Base.helpers.number_to_currency(@totales[2], separator: ',', delimiter: '.', format: "%n %u", unit: "")
                    %td{ :class => 'text-right' }
                      = ActionController::Base.helpers.number_to_currency(@totales[3], separator: ',', delimiter: '.', format: "%n %u", unit: "")
                    %td{ :class => 'text-right' }
                      = ActionController::Base.helpers.number_to_currency(@totales[4], separator: ',', delimiter: '.', format: "%n %u", unit: "")

